fastapi
uvicorn
python-dotenv
python-multipart

sqlalchemy
psycopg2-binary
alembic
pgvector

pydantic
email-validator
starlette

sentence-transformers
transformers
torch
tokenizers
safetensors
huggingface_hub

spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

numpy
pandas
scikit-learn
scipy

PyMuPDF
pdfplumber
pdf2image
pytesseract
pillow
python-magic

openai
requests
httpx
PyYAML
rapidfuzz
tabulate

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

redis
celery

aiofiles

pytest